# Kafka Configuration
KAFKA_TOPIC_NAME=test-topic
KAFKA_BROKER=localhost:9092
KAFKA_BROKERS=localhost:9097,localhost:9098,localhost:9099

# Consumer Group IDs
KAFKA_GROUP_ID=test-consumer-group
KAFKA_CHANGE_DATA_GROUP_ID=change-data-consumer-group
KAFKA_TOPIC_EMPTIER_GROUP_ID=topic-emptier

# Kafka Authentication (optional)
KAFKA_USERNAME=admin
KAFKA_PASSWORD=admin-secret

# Kafka Security Configuration (optional)
# For your current Docker setup, use these values:
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SSL_VERIFY=true

# For SCRAM authentication, use these values instead:
# KAFKA_SECURITY_PROTOCOL=SASL_SSL
# KAFKA_SASL_MECHANISM=SCRAM-SHA-512
# KAFKA_SSL_VERIFY=true 